.random-text {
  margin-bottom: 13rem;

  text-align: center;
  color: var(--light);
  font-size: 1.6rem;
}

.random-text-reviews {
  margin-top: 3rem;

  font-size: 2.4rem;
  font-weight: 800;
  color: var(--primary);
  line-height: 1.2;
  text-align: center;

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}

.random-icon {
  display: inline-block;
  vertical-align: text-bottom;
  margin: 0 1rem;
}
